.formLogin {
  width: 100%;
  max-width: 300px;
  padding: 2rem;
  margin: auto;
  margin-bottom: 120px;

  background-color: #5a5a5a;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.185);
  
}

.loginTitle {
  margin-bottom: 1rem;
  margin-top: auto;
  font-weight: 400;
  text-align: center;
}

.formFloating {
  position: relative;
  margin-bottom: 1rem;
}

.formControl {
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
}

.formControl:hover {
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.2);
}

.formControl:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.5);
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 1rem;
}

.loginAlert {
  margin-top: 1rem;
  color: red; /* Ejemplo */
}

.formSignin .formControl[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.formSignin .formControl[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
