/* --- Contenedor del Formulario --- */
.formContainer {
  padding: 1rem; 
  background-color: #ffffff; 
  border-radius: 0.5rem; 
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* shadow */
  border: 1px solid #e5e7eb;
  margin-top: -1rem;
}

/* --- Título del Formulario --- */
/* (Puedes reusar .inventory-title si tiene el mismo estilo) */
.formTitle {
  font-size: 1.125rem; 
  font-weight: 600; 
  margin-bottom: 1rem; 
  color: black;
}

/* --- Formulario y Grupos --- */
.formProducts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding: 5rem;
}

/* --- Etiquetas (Labels) --- */
.formLabel {
  display: block; 
  font-size: 0.875rem;
  font-weight: 500; 
  color: #374151; 
  margin-bottom: 0.25rem; 
}

/* --- Campos de Entrada (Inputs) --- */
.formInput {
  background-color: white;
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem; ;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem; 
  box-sizing: border-box; 
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 1rem; 
  color: #000000; 
}

.formInput::placeholder {
  color: #9ca3af;
}

.formInput:hover {
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.2);
}

/* Estilos de Focus para el Input */
.formInput:focus {
  outline: none;
  border-color: #3b82f6; 
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.formButtons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* --- Botón de Enviar --- */
.formButton {
  display: inline-block; 
  background-color: #2563eb; 
  color: #ffffff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  
  border-radius: 0.375rem; 
  font-weight: 600; 
  transition-property: background-color; 
  transition-duration: 150ms;
  border: none; 
  cursor: pointer; 
}

/* Hover del Botón */
.formButton:hover {
  background-color: #1d4ed8; 
}

/* Focus del Botón */
.formButton:focus {
  outline: none;
  border-color: #3b82f6; 
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

/* Al hacer clcik e un Botón */
.formButton:active {
  cursor: default;
  background-color: #4d72d8; 
}