/* --- Botón de Pestaña (Base) --- */
.tabButton {
  /* Estilos flex */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  /* Espaciado y tipografía */
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;

  /* Transición */
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Estilos de botón */
  background-color: white;
  border-width: 2px;
  border-radius: 0.5rem;
  border-right: none;
  border-top: none;
  cursor: pointer;
}

/* --- Estado Inactivo (por defecto) --- */
.tabButton {
  border-color: black;
  color: #000000;
}

/* --- Hover de Estado Inactivo --- */
.tabButton:hover {
  border-color: #c95ed3;
  color: #1f2937;
  background-color: rgba(237, 255, 80, 0.507);
  cursor: pointer;
}

/* --- Click en un botón --- */
.tabButton:active {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

/* --- Estado Activo (.isActive) --- */
.tabButton.isActive {
  border-color: #ff0000;
  color: #2563eb;
}

/* --- Hover de Estado Activo --- */
.tabButton.isActive:hover {
  border-color: #ff0000;
  color: #2563eb;
}